<div class='field'>
  <%= f.label :from_url -%>
  <%= f.text_field :from_url, :class => 'larger widest'  -%>
</div>

<div class='field'>
  <%= f.label :to_url -%>
  <%= f.text_field :to_url, :class => 'larger widest'  -%>
</div>

<div class='field'>
  <%= f.label :status_code -%>
  <%= f.text_field :status_code, :class => 'larger widest'  -%>
</div>
